[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
strawberry-graphql = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "2.7"
